@font-face{
    font-family: "Mifuente";
    src: url(../font/MsMadi-Regular.ttf);
}
@font-face{
    font-family: "letra";
    src: url(../font/AkayaKanadaka-Regular.ttf);
}
p{
    font-family: "letra";
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    
}
body{
    
    font-family: sans-serif;
    background: #171717;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar{
    display: flex;
}
.logo{
    margin-left: 30px;
}
.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Bradley Hand;
}
.navbar a {
    margin: auto;
    width: 500px;
    font-family: Bradley Hand;

}
ul ol{
    list-style: none;
}
.nav li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
.nav > li{
    float: left;
}
.nav li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul{
display: block;
}
.navbar a:hover{
    background: #5e5c5c;

}

.header{
    height: 60vh !important;
    background: #FF0099;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(323, 19%, 24%, 0.616), hsla(324, 100%, 50%, 0.616)), url(../images/imagenes\ de\ aniversario/1_mes.png)no-repeat center;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(323, 19%, 24%, 0.616), hsla(324, 100%, 50%, 0.616)), url(../images/imagenes\ de\ aniversario/1_mes.png) no-repeat center; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;

}
.title2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    font-family: "Mifuente";
}
.title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    font-family: "Mifuente";
    color: #fff;
}
.contenedor{
    display: flex;
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428),;  /* Chrome 10-25, Safari 5.1-6 * <a >Inicio</a>
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    padding: 25px;
    color: #fff;
}
.ella{
    padding-left: 15px;
}

.fondo{
    background: #171717;
   
}
ul,ol{
    list-style: none;
}

@media screen and (max-width:800px){
    .head{
        flex-direction: column;
    }
    .contenedor{
        display: block;
        text-align: center;

    }
    p{
        text-align: justify;
    }
    
}

/* galeria de fotos */
.gallery{
    margin:10px 50px;
}
.gallery img {
    width: 230px;
    padding: 5px;
}

.hola{
    list-style: disc;
    font-family: "letra";
}
.otro{
    height: 100%;
    width: 30px;
    
}